body {
    margin: 0px;
    overflow: scroll;
    overflow-x: hidden;
}
.header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c33;
}
.header > .navigation a:link {
    font-size: 20px;
    text-decoration: none;
}
.header > .logo {
    display: flex;
    justify-content: center;
}
.information {
    height: 1000px;
    width: 100%;
    background-color: #252525;
}
.footer {
    margin-top: -20px;
    height: 110px;
    width: 100%;
    background-color: #252525;
}
.footer > .footer-navigation a:link {
    text-decoration: none;
}
.information > .paragraph-1 {
    font-size: 20px;
}
.information > .paragraph-2 {
    font-size: 20px;
}
.footer > .footer-navigation {
    display: grid;
    grid-column: vertical;
}